<form action="/login">
    <label for="user">user</label><br/>
    <input name="user" type="text"><br/>
    <label for="password">password</label><br/>
    <input name="password" type="password"><br/>
    <button type="submit">Iniciar Sesion</button> 
</form>
<form action="/register">
    <button >Registrarse</button>
</form>


<a href="http://localhost8080/api/github/login">Entra con GitHub</a>
